<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="de-dl9rdz-rdzwx" version="0.0.6">
    <name>RdzWx</name>
    <description>rdzwx cordova plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,rdzwx</keywords>
    <js-module name="RdzWx" src="www/rdzwx.js">
        <clobbers target="RdzWx" />
    </js-module>
    <platform name="electron">
        <config-file target="config.xml" parent="/*">
            <feature name="RdzWx">
                <param name="electron-package" value="RdzWx"/>
            </feature>
        </config-file>
        <source-file src="src/android/assets/WW15MGH.DAC" target-dir="app/src/main/assets" />
	<framework src="src/electron"/>
<!--
        <js-module src="src/electron/RdzWxProxy.js" name="RdzWx.Proxy">
            <runs />
        </js-module>
-->
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="RdzWx">
                <param name="android-package" value="de.dl9rdz.RdzWx" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/rdzwx.kt" target-dir="app/src/main/kotlin/de/dl9rdz" />
        <source-file src="src/android/rdzwx-a.kt" target-dir="app/src/main/kotlin/de/dl9rdz" />
        <source-file src="src/android/IrdzwxPredict.aidl"
            target-dir="app/src/main/aidl/de/dl9rdz/rdzwx_predict" />
        <source-file src="src/android/Result.aidl"
            target-dir="app/src/main/aidl/de/dl9rdz/rdzwx_predict" />
        <source-file src="src/android/assets/WW15MGH.DAC" target-dir="app/src/main/assets" />
	<lib-file src="src/android/libs/mapsforge-core-master-0.16.0.jar" />
	<lib-file src="src/android/libs/mapsforge-map-master-0.16.0.jar" />
	<lib-file src="src/android/libs/mapsforge-themes-master-0.16.0.jar" />
	<lib-file src="src/android/libs/mapsforge-map-reader-master-0.16.0.jar" />
	<lib-file src="src/android/libs/mapsforge-map-android-master-0.16.0.jar" />
	<lib-file src="src/android/libs/androidsvg-1.4.jar" />
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RdzWx">
                <param name="ios-package" value="RdzWx" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="*">
            <key>NSLocationWhenInUseUsageDescription</key>
            <string>This app needs location access to track GPS position and share with TTGO devices.</string>
            <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
            <string>This app needs location access to track GPS position and share with TTGO devices.</string>
            <key>NSLocalNetworkUsageDescription</key>
            <string>This app needs local network access to discover and connect to TTGO ESP32 devices.</string>
            <key>NSBonjourServices</key>
            <array>
                <string>_jsonrdz._tcp</string>
            </array>
        </config-file>
        <header-file src="src/ios/RdzWx.h" />
        <source-file src="src/ios/RdzWx.m" />
        <source-file src="src/ios/JsonRdzHandler.h" />
        <source-file src="src/ios/JsonRdzHandler.m" />
        <source-file src="src/ios/GPSHandler.h" />
        <source-file src="src/ios/GPSHandler.m" />
        <source-file src="src/ios/MDNSHandler.h" />
        <source-file src="src/ios/MDNSHandler.m" />
        <source-file src="src/ios/WgsToEgm.h" />
        <source-file src="src/ios/WgsToEgm.m" />
        <source-file src="src/ios/OfflineTileCache.h" />
        <source-file src="src/ios/OfflineTileCache.m" />
        <resource-file src="src/android/assets/WW15MGH.DAC" />
        <framework src="CoreLocation.framework" />
        <framework src="Network.framework" weak="true" />
        <framework src="MapKit.framework" />
    </platform>
</plugin>


